[submodule "zk-tests/lib/forge-std"]
	path = zk-tests/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "zk-tests/lib/ds-test"]
	path = zk-tests/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "zk-tests/lib/solmate"]
	path = zk-tests/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "zk-tests/lib/openzeppelin-contracts"]
	path = zk-tests/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
