name: nix

permissions: {}

on:
  schedule:
    - cron: "0 0 * * SUN" # Run weekly on Sundays at midnight UTC
  workflow_dispatch: # Needed so we can run it manually

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Opens a PR with an updated flake.lock file
  update:
    if: github.repository == 'foundry-rs/foundry'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: DeterminateSystems/determinate-nix-action@73327eb48f028efaaf5013656ba216ca3cdeca7b # v3
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: DeterminateSystems/update-flake-lock@5909792a83875ddb5dd4b18734534a98a74a709c # main
        with:
          pr-title: "Update flake.lock"
          pr-labels: |
            L-ignore
            A-dependencies

  build:
    if: github.repository == 'foundry-rs/foundry'
    strategy:
      matrix:
        runs-on: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.runs-on }}
    permissions:
      contents: read
    steps:
      - uses: DeterminateSystems/determinate-nix-action@73327eb48f028efaaf5013656ba216ca3cdeca7b # v3
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Update flake.lock
        run: nix flake update

      - name: Activate nix env
        run: nix develop -c echo Ok

      - name: Check that we can compile all crates
        run: nix develop -c cargo check --all-targets
