name: test

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

concurrency:
    cancel-in-progress: true
    group: ${{github.workflow}}-${{github.ref}}

env:
    CARGO_TERM_COLOR: always

jobs:
    doctests:
        name: doc tests
        runs-on: ubuntu-22.04-github-hosted-16core
        timeout-minutes: 60
        steps:
            - uses: actions/checkout@v3
            - uses: dtolnay/rust-toolchain@nightly
              with:
                toolchain: nightly-2023-09-30
            - uses: Swatinem/rust-cache@v2
              with:
                cache-on-failure: true
            - name: cargo test
              run: cargo test --doc -p zkforge -p zkcast
              env:
                RUST_TEST_THREADS: 2

    clippy:
        name: clippy
        runs-on: ubuntu-latest
        timeout-minutes: 60
        steps:
            - uses: actions/checkout@v3
            - uses: dtolnay/rust-toolchain@clippy
            - uses: Swatinem/rust-cache@v2
              with:
                  cache-on-failure: true
            - run: cargo clippy --workspace --all-targets --all-features
              env:
                  RUSTFLAGS: -Dwarnings

    fmt:
        name: fmt
        runs-on: ubuntu-22.04-github-hosted-16core
        timeout-minutes: 60
        steps:
            - uses: actions/checkout@v3
            - uses: dtolnay/rust-toolchain@nightly
              with:
                  toolchain: nightly-2023-09-30
                  components: rustfmt
            - run: cargo fmt --all --check

    forge-fmt:
        name: forge fmt
        runs-on: ubuntu-22.04-github-hosted-16core
        timeout-minutes: 60
        steps:
            - uses: actions/checkout@v3
            - uses: dtolnay/rust-toolchain@nightly
              with:
                  toolchain: nightly-2023-09-30
            - uses: Swatinem/rust-cache@v2
              with:
                  cache-on-failure: true
            - name: forge fmt
              run: cargo run --bin forge -- fmt --check testdata/

    feature-checks:
        name: feature checks
        runs-on: ubuntu-22.04-github-hosted-16core
        timeout-minutes: 60
        steps:
            - uses: actions/checkout@v3
            - uses: dtolnay/rust-toolchain@nightly
              with:
                toolchain: nightly-2023-09-30
            - uses: taiki-e/install-action@cargo-hack
            - uses: Swatinem/rust-cache@v2
              with:
                  cache-on-failure: true
            - name: cargo hack
              run: cargo hack check

    smoke-test:
      name: smoke-test
      runs-on: ubuntu-22.04-github-hosted-16core

      steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly-2023-09-30

      - name: Run smoke-test
        env:
          RUST_BACKTRACE: full
        run: cd smoke-test && ./test.sh

    cheatcodes:
      name: cheatcode-test
      runs-on: ubuntu-22.04-github-hosted-16core
      steps:
        - uses: actions/checkout@v4
          with:
            submodules: recursive
            ref: ${{ github.event.pull_request.head.sha }}

        - name: Install Rust
          uses: actions-rust-lang/setup-rust-toolchain@v1
          with:
            toolchain: nightly-2023-09-30

        - name: Run era-test-node
          uses: dutterbutter/era-test-node-action@v1
          with:
            mode: fork
            network: mainnet
            log: info
            logFilePath: era_test_node.log
            target: x86_64-unknown-linux-gnu
            releaseTag: v0.1.0-alpha.15

        - name: Test Cheatcodes
          env:
            ERA_TEST_NODE_RPC_URL: http://localhost:8011
          run: cd crates/era-cheatcodes/tests && ./test.sh

        - name: Upload era_test_node log
          uses: actions/upload-artifact@v3
          with:
            name: era_test_node.log
            path: era_test_node.log
